<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
    <title>Add Developer</title>
</head>
<body>

<div th:insert="~{fragments/nav-bar :: navigation}"></div>

<div class="container-fluid">

    <div class="pt-3 pb-2 text-center">
        <h3 th:text="#{add-developer-title-manage}" />
        <hr>
    </div>

    <div class="container col-md-4 pt-3">
        <p class="h4 mb-4 text-center" th:text="#{add-developer-title-add}"/>

        <form action="#" th:action="@{/developers/save}"
              th:object="${developerViewModel}"
              method="POST"
              novalidate="novalidate">

            <div class="input-group mb-3 has-validation">
                <span class="input-group-text" th:text="#{add-developer-form-firstName}"/>
                <input type="text" th:field="*{firstName}" class="form-control"
                       th:classappend="${#fields.hasErrors('firstName')?'is-invalid':''}" placeholder="Phil">
                <div th:if="${#fields.hasErrors('firstName')}" class="invalid-feedback">
                    <span th:errors="*{firstName}"></span>
                </div>
            </div>

            <div class="input-group mb-3 has-validation">
                <span class="input-group-text" th:text="#{add-developer-form-lastName}"/>
                <input type="text" th:field="*{lastName}" class="form-control"
                       th:classappend="${#fields.hasErrors('lastName')?'is-invalid':''}" placeholder="Mahar">
                <div th:if="${#fields.hasErrors('lastName')}" class="invalid-feedback">
                    <span th:errors="*{lastName}"></span>
                </div>
            </div>

            <div class="input-group mb-3 has-validation">
                <span class="input-group-text" th:text="#{add-developer-form-age}"/>
                <input type="text" th:field="*{age}" class="form-control"
                       th:classappend="${#fields.hasErrors('age')?'is-invalid':''}" placeholder="81">
                <div th:if="${#fields.hasErrors('age')}" class="invalid-feedback">
                    <span th:errors="*{age}"></span>
                </div>
            </div>

            <div class="input-group mb-3 has-validation">
                <span class="input-group-text" th:text="#{add-developer-form-salary}"/>
                <input type="text" th:field="*{salary}" class="form-control"
                       th:classappend="${#fields.hasErrors('salary')?'is-invalid':''}" placeholder="1234">
                <div th:if="${#fields.hasErrors('salary')}" class="invalid-feedback">
                    <span th:errors="*{salary}"></span>
                </div>
            </div>

            <div class="input-group mb-3 has-validation">
                <span class="input-group-text" th:text="#{add-developer-form-contractExpiration}"/>
                <input type="text" th:field="*{endOfContract}" class="form-control"
                       th:classappend="${#fields.hasErrors('endOfContract')?'is-invalid':''}" placeholder="2027-10-09">
                <div th:if="${#fields.hasErrors('endOfContract')}" class="invalid-feedback">
                    <span th:errors="*{endOfContract}"></span>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" th:text="#{add-developer-form-position}"/>
                <select class="form-select" th:field="*{position}">
                    <option th:each="tempPosition : ${positions}"
                            th:value="${tempPosition}"
                            th:text="${tempPosition}"/>
                </select>
            </div>

            <div class="container text-center">
                <button class="btn btn-dark" type="submit" th:text="#{add-developer-form-button-save}"/>
            </div>
        </form>

    </div>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>