<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
    <title>Developer info</title>
</head>
<body>

<div th:insert="~{fragments/nav-bar :: navigation}"></div>

<div class="container-fluid">

    <h3>Developer details</h3>
    <div class="container grid gap-0 row-gap-1">
        <p class="h4 mb-4">Information:</p>
        <div class="p-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="${developer.firstName}" />
            <li class="list-group-item" th:text="${developer.lastName}" />
            <li class="list-group-item" th:text="${developer.age} + ' y.o'" />
            <li class="list-group-item" th:text="${developer.salary} + '$'" />
            <li class="list-group-item" th:text="${developer.position}" />
            <li class="list-group-item" th:text="'Contract till: ' + ${developer.endOfContract}" />
            <li class="list-group-item" th:text="'ID - ' + ${developer.id}" />
        </ul>
        </div>

<!--        <div class="row mb-4">-->
        <div class="p-2">
        <p class="h4 mb-4">Developer works on projects:</p>
        <div class="list-group">
            <a th:each="project : ${developer.projects}" th:href="@{/projects/showDetails(projectId=${project.projectId})}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" th:text="${project.projectName}"/>
                </div>
                <p class="mb-1" th:text="'Project ' + ${project.projectName} + 'with budget ' + ${project.projectBudget} + '$'" />
                <small class="text-body-secondary" th:text="'Project ID ' + ${project.projectId}" />
            </a>
        </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>