<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />

    <title>Developers List</title>
</head>
<body>

<div th:insert="~{fragments/nav-bar :: navigation}"></div>

<div class="container-fluid">
<h3>Developers List</h3>
<hr>

<!-- Add table to show developers -->
<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>End of Contract</th>
        <th>Position</th>
        <th>Id</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempDeveloper : ${developers}">
        <td th:text="${tempDeveloper.firstName}" />
        <td th:text="${tempDeveloper.lastName}" />
        <td th:text="${tempDeveloper.age}" />
        <td th:text="${tempDeveloper.salary} + ' $'" />
        <td th:text="${tempDeveloper.endOfContract}" />
        <td th:text="${tempDeveloper.position}" />
        <td th:text="${tempDeveloper.id}" />

        <td>
            <a th:href="@{/developers/showDetails(developerId=${tempDeveloper.id})}"
               class="btn btn-dark btn-sm">
                Details
            </a>
        </td>

    </tr>
    </tbody>
</table>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>