<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />

    <title>Developers List</title>
</head>
<body>

<div th:insert="~{fragments/nav-bar :: navigation}"></div>

<div class="container-fluid">
<h3 th:text="#{show-developers-list}" />
<hr>

<!-- Add table to show developers -->
<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th th:text="#{show-developers-table-firstName}" />
        <th th:text="#{show-developers-table-lastName}" />
        <th th:text="#{show-developers-table-age}" />
        <th th:text="#{show-developers-table-salary}" />
        <th th:text="#{show-developers-table-endOfContract}" />
        <th th:text="#{show-developers-table-position}" />
        <th th:text="#{show-developers-table-id}" />
        <th th:text="#{show-developers-table-action}" />
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempDeveloper : ${developers}">
        <td th:text="${tempDeveloper.firstName}" />
        <td th:text="${tempDeveloper.lastName}" />
        <td th:text="${tempDeveloper.age}" />
        <td th:text="${tempDeveloper.salary} + ' $'" />
        <td th:text="${tempDeveloper.endOfContract}" />
        <td th:text="${tempDeveloper.position}" />
        <td th:text="${tempDeveloper.id}" />

        <td>
            <a th:href="@{/developers/showDetails(developerId=${tempDeveloper.id})}"
               class="btn btn-dark btn-sm" th:text="#{show-developers-table-button-details}" />
            <a th:href="@{/developers/delete(developerId=${tempDeveloper.id})}"
               class="btn btn-danger btn-sm" th:text="#{show-developers-table-button-delete}"
               onclick="if (!(confirm('Are you sure you want delete this element?'))) return false"
            />
        </td>

    </tr>
    </tbody>
</table>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>