<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}"/>
    <title>Database error</title>
</head>
<body>

<div th:insert="~{fragments/nav-bar :: navigation}"></div>

<div class="container-fluid">

  <div class="pt-3 pb-2 text-center">
    <h3>Database Error, I guess someone killed it</h3>
    <p>on purpose</p>
      <p class="pt-3 font-monospace" th:if="${message != null}" th:text="${message}"></p>
  </div>

  <div class="container co-4 pt-5 text-center">
    <img src="https://media1.tenor.com/m/3E7aj6opwKsAAAAd/gato-misil.gif" alt="Error Gif Loading">
  </div>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>