<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}"/>
    <title>Database error</title>
</head>
<body>

<div th:insert="~{fragments/nav-bar :: navigation}"></div>


<h1>Database Error</h1>
<p>There was a problem accessing the database. Please try again later.</p>



<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>